@font-face {
  font-family: Lobster 1.4;
  src: local("Lobster 1.4"),
       url(./assets/fonts/Lobster.otf) format("otf");
  font-weight: bold;
  font-weight: normal;
font-style: normal;
}

@font-face {
  font-family: Linux Libertine O;
  src: local("Linux Libertine O"),
       url(./assets/fonts/LinLibertine_R.otf) format("otf");
  font-weight: bold;
  font-weight: normal;
font-style: normal;
}


#modalCheck{
			display: none;
		}
		.modalLayer{
			display: none;
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(0, 0, 0, 0.5);
		}
		#modalCheck:checked + .modalLayer, #formation:target, #experiences:target, #langues:target, #objectif:target{
			display: block;
		}
		.popup_block{
			background: #E6E6FA;
			padding: 20px;
			border: 10px solid rgb(219, 54, 174);
			position: relative;
			margin: 10% auto;
			width: 60%;
			box-shadow: 0px 0px 20px #000;
			border-radius: 10px;
		}
		img.btn_close {
			float: right;
			margin: -55px -55px 0 0;
			cursor: pointer;
		}
		.button{
			cursor: pointer;
			color: blue;
			text-decoration: underline;
		}
		
/* Modal Box end */

body {
background-image:url('../../assets/images/texture.png');
background-repeat: ;
background-position: bottom;
background-attachment: fixed;
width:100%;
height:100%;
font-family: "Linux Libertine O";
font-size: 1.2em;
color: #595959;
text-align: center;
padding: 35px;
}

h1.top {
margin:5px;
}

form,p,span {
font-family: "Linux Libertine O";
	margin: 0;
	padding: 0;
}

b.name {
font-family: "Lobster 1.4";
}

input {
font-family: "Linux Libertine O";
font-size: 1.2em;

}

a {
	color: rgb(219, 54, 174);
	font-family: "Linux Libertine O";
font-size: 1.2em;
	text-decoration: none;
}

a#exit {
color: rgb(219, 54, 174);
font-family: "Linux Libertine O";
font-size: 1em;
text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#loginform {
	margin: 0 auto;
	padding-bottom: 25px;
	background: rgba(230, 230, 250, 0.0);
	width: 80%;
	border: 0 solid rgb(219, 54, 174);
}

#wrapper {
	margin: 0 auto;
	padding-bottom: 25px;
	background: rgba(230, 230, 250, 0.0);
	width: 80%;
	border: 0 solid rgb(219, 54, 174);
}

#loginform {
	padding-top: 18px;
}

#loginform p {
	margin: 5px;
}

#chatbox {
	text-align: left;
	margin-top:10px;
	margin-right:10%;
	margin-left:10%;
	margin-bottom: 25px;
	padding: 10px;
	background: rgba(230, 230, 250, 0.7);
	height: 330px;
	width: 80%;
	border: 0 solid rgb(219, 54, 174);
	overflow: auto;
}

#usermsg {
	width: 80%;
	border: 0 solid #ACD8F0;
	background: rgba(230, 230, 250, 0.7);
	margin-right:10%;
	margin-left:10%;
	padding: 10px;
}

#submit {
	width: 60px;
}

.error {
	color: #ff0000;
}

#menu {
	padding: 12.5px 25px 12.5px 25px;
}

.welcome {
	float: left;
}

.logout {
	float: right;
	margin-right:5%;
}

.msgln {
	margin: 0 0 2px 0;
}
