
#modalCheck{
			display: none;
		}
		.modalLayer{
			display: none;
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(0, 0, 0, 0.5);
		}
		#modalCheck:checked + .modalLayer, #formation:target, #experiences:target, #langues:target, #objectif:target{
			display: block;
		}
		.popup_block{
			background: #E6E6FA;
			padding: 20px;
			border: 10px solid rgb(219, 54, 174);
			position: relative;
			margin: 10% auto;
			width: 60%;
			box-shadow: 0px 0px 20px #000;
			border-radius: 10px;
		}
		img.btn_close {
			float: right;
			margin: -55px -55px 0 0;
			cursor: pointer;
		}
		.button{
			cursor: pointer;
			color: blue;
			text-decoration: underline;
		}
		
/* Modal Box end */




/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
   width: 100%; /* Full width */
   padding: 12px; /* Some padding */
   border: 1px solid #ccc; /* Gray border */
   border-radius: 4px; /* Rounded borders */
   box-sizing: border-box; /* Make sure that padding and width stays in place */
   margin-top: 6px; /* Add a top margin */
   margin-bottom: 16px; /* Bottom margin */
   resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Add a background color and some padding around the form 
.container {
   border-radius: 5px;
   background-color: #E6E6FA;
   padding: 20px;
}
*/
